/* ===== Shared Styles ===== */

/* border rule */
.border {
    border: 1px solid black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.section-center {
    width: 75%;
    margin: 0px auto;
}

.m-t {
    margin-top: 100px;
}

.display-flex {
    display: flex;
}

/* hidden rule */
.hidden {
    display: none;
}

/* dark 01 */
.elegant-black {
    color: #131313;
}

/* dark 02 */
.gray {
    color: #424242;
}

/* dark 03 */
.power-gray {
    color: #727272;
}

.west-side-bg {
    background-color: #FF900E;
}

.west-side-text {
    color: #FF900E;
}

/* bg-color */
.gray-west-side {
    background-color: #ff900e1a;
}

/* button style */
.btn {
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

/* <-- Part: header Style --> */

/* [Section => navbar] */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.brand {
    font-size: 2.8125rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    justify-content: space-between;
    gap: 50px;
}

.nav-item {
    list-style-type: none;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
}

.nav-link:hover {
    color: rgb(2, 146, 86);
    font-weight: 600;
}

/* [Section => banner] */
.banner-content {
    text-align: center;
    padding: 0px 80px;
    margin-top: 60px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    line-height: 1.7rem;
    margin-top: 16px;
}

.banner-content-btn {
    margin-top: 32px;
}

.banner-img img {
    width: 100%;
    margin-top: 50px;
}


/* <-- Part: main style --> */

/* [Section => teams] */

/* teams-image related style */
.teams-container {
    align-items: center;
    gap: 50px;
}
.teams-img img {
    width: 100%;
    height: 100%;
}
.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 50px;
}

/* features-content related style */
.features-title {
    font-size: 2.8rem;
}

.features-description {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 24px;
}

.features-btn {
    padding: 14px 20px;
    margin-top: 32px;
}


/* <-- Part: Responsive Origin --> */

/* Extra small devices (phones) */
@media screen and (max-width: 575px) {

    /* <-- Part: header responsive --> */

    /* [Section => navbar] */
    .menu-icon {
        display: block;
    }

    .menu {
        cursor: pointer;
        position: relative;
    }

    .nav-links {
        display: block;
        background-color: #EEEEEE;
        border-radius: 8px;
        position: absolute;
        right: 0%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .nav-item {
        width: 130px;
        box-sizing: content-box;
        padding: 12px 16px;
        text-align: center;
    }

    .nav-item:hover {
        background-color: #131313;
        transition: all 0.3s;
    }

    .nav-link {
        font-size: 1.375rem;
    }

    .nav-link:hover {
        color: #EEEEEE;
    }

    .menu:hover .nav-links {
        opacity: 1;
        visibility: visible;
        background-color: #EEEEEE;
        transform: scaleY(1);
    }

    .brand {
        font-size: 1.8rem;
    }

    /* [Section => banner] */
    .banner-content {
        padding: 0px 20px;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .banner-description {
        font-size: 1rem;
        text-align: justify;
    }

    .banner-content-btn {
        padding: 12px 16px;
    }

    /* <-- Part: main responsive --> */

    /* [Section => teams] */
    .teams-container {
        flex-direction: column;
    }

    .teams-img {
        gap: 10px;
        margin-left: 0px;
    }

    .features-title {
        font-size: 2.5rem;
    }

    .features-btn {
        padding: 12px 16px;
    }
}

/* Small devices (large phones) */
@media screen and (min-width: 576px) and (max-width: 767px) {

    /* <-- Part: header responsive --> */

    /* [Section => navbar] */
    .menu-icon {
        display: block;
    }

    .menu {
        cursor: pointer;
        position: relative;
    }

    .nav-links {
        display: block;
        background-color: #EEEEEE;
        border-radius: 8px;
        position: absolute;
        right: 0%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .nav-item {
        width: 160px;
        box-sizing: content-box;
        padding: 12px 16px;
        text-align: center;
    }

    .nav-item:hover {
        background-color: #131313;
        transition: all 0.3s;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .nav-link:hover {
        color: #EEEEEE;
    }

    .menu:hover .nav-links {
        opacity: 1;
        visibility: visible;
        background-color: #EEEEEE;
        transform: scaleY(1);
    }

    .brand {
        font-size: 2.5rem;
    }

    /* [Section => banner] */
    .banner-content {
        padding: 0px 50px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-content-btn {
        padding: 14px 18px;
    }

    /* <-- Part: main responsive --> */

    /* [Section => teams] */
    .teams-container {
        flex-direction: column;
    }

    .teams-img {
        gap: 30px;
        margin-left: 0px;
    }

    .features-title {
        font-size: 3rem;
    }
}

/* Medium devices (tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* <-- Part: header responsive --> */

    /* [Section => navbar] */
    .brand {
        font-size: 2.5rem;
        text-align: center;
    }

    .nav-links {
        gap: 16px;
    }

    /* [Section => banner] */
    .banner-content {
        padding: 0px 60px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-content-btn {
        padding: 16px 20px;
    }

    /* <-- Part: main responsive --> */

    /* [Section => teams] */
    .teams-container {
        flex-direction: column;
    }

    .teams-img {
        gap: 30px;
        margin-left: 0px;
    }

    .features-title {
        font-size: 3.8rem;
    }
}

/* Large devices (desktops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    /* <-- Part: header responsive --> */

    /* [Section => navbar] */
    .nav-links {
        gap: 30px;
    }

    /* [Section => banner] */
    .banner-content {
        padding: 0px 70px;
    }

    .banner-title {
        font-size: 3.6rem;
    }

    .banner-content-btn {
        padding: 18px 22px;
    }

    /* <-- Part: main responsive --> */

    /* [Section => teams] */
    .teams-img {
        gap: 10px;
        margin-left: 0px;
    }

    .features-title {
        font-size: 3.2rem;
    }
}

/* Extra large devices (big desktops) */
@media screen and (min-width: 1200px) and (max-width: 1399px) {}